<%= form_for @writing do |f| %>  
  <% if @writing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@writing.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
  		<% @writing.errors.full_messages.each do |msg| %>
  		  <li><%= msg %></li>
  		<% end %>    
      </ul>
    </div>
  <% end %>
  
  <dl class="form">
    <dt><%= f.label :title %></dt>
  	<dd class="field"><%= f.text_field :title, :class => 'txt-med' %></dd>	 
  	
  	<dt><%= f.label :slug %></dt>
  	<dd class="field"><%= f.text_field :slug, :class => 'txt-med' %></dd>
  	
  	<dt><%= f.label :body %></dt>
  	<dd class="field"><%= f.text_area :body, :class => 'txt', :rows => 15 %></dd>
  	
  	<dt><%= f.label :image %></dt>
  	<dd class="field"><%= f.file_field :image %></dd>
  	 
  	<dt><%= f.label :published_at %></dt>
  	<dd class="field"><%= f.date_field :published_at, :prompt => Time.now.strftime('%Y-%m-%d') %></dd>	 
  	
  	<dt></dt>
  	<dd class="field"><%= f.submit 'Save', :class => 'btn' %> <%= link_to 'Cancel', writing_index_path %></dd>
  </dl>
<% end %>
<div class="clear"></div>