<% title "Elnaz Moshfeghian" %>

<p id="intro">Software engineer, designer, community organizer&mdash;at my best when doing all three as a product manager. Living in Chicago since 2008. Before that: Oklahoma, Kuwait, Qatar, Australia, and Iran. I climb rocks, ride bikes, watch movies, talk civics, and follow the NBA.</p>	
<div class="clear"></div>

<h2>Blog</h2>
<ul class="posts">
	<% @writings.each do |writing| %>
	<li>
		<a href="<%= writing_path(writing.id) %>">
			<img src="http://dummyimage.com/200" />
			<p class="title"><%= writing.title %><span class="date"><%= writing.published_at.strftime("%b %-d, %Y") %></span></p>
		</a>
	</li>	
	<% end %>
</ul>
<div class="clear"></div>
<p id="more-posts"><%= link_to raw('Read more <i class="fa fa-angle-right"></i>'), writing_index_path %></p>

<h2 id="projects">Projects</h2>
<ul class="projects">				
	<li>
		<a href="<%= working_arctic_collaboration_path %>"><img src="" /> 
		<p class="project">IARPC Collaborations <span class="subtitle">Accelerating Arctic research</span></p></a>
	</li>
	<li>
		<a href="<%= working_schoolcuts_path %>"><img src="" /> 
		<p class="project">SchoolCuts.org <span class="subtitle">Illuminating the 2013 closings</span></p></a>
	</li>
	<li>
		<a href="<%= working_benevolent_path %>"><img src="" /> 
		<p class="project">Benevolent.net <span class="subtitle">Making giving personal</span></p></a>
	</li>
	<li>
		<a href="<%= working_chicago_women_path %>"><img src="" /> 
		<p class="project">Chi. Women Take Action<span class="subtitle">Forging a women's agenda</span></p></a>
	</li>
	<li>
		<a href="<%= working_student_government_path %>"><img src="" /> 
		<p class="project">IIT Student Government <span class="subtitle">Amplifying the student voice</span></p></a>
	</li>
	<li>
		<a href="<%= working_alternative_spring_break_path %>"><img src="" /> 
		<p class="project">Alternative Spring Break <span class="subtitle">Building homes with Habitat</span></p></a>
	</li>
</ul>
<div class="clear"></div>

<h2 id="about">About</h2>
<div class="about">
	<p>Lorem ipsum dolor sit amet, cu aperiri volumus urbanitas cum, sit vidisse scribentur voluptatibus ei, liber congue labores cu pri. Ea inani graeco aliquando mei. Ea affert utroque pertinacia vim, et vocent aperiam complectitur duo. Veri facilisis ut usu, an vis laoreet scribentur, indoctum aliquando dissentiunt et has.</p>
	<p>Ad has eius rebum postulant, ut eam ignota vivendo. Cu suas oratio consulatu mel, laoreet mediocritatem qui te. Te pri saepe tritani, affert iisque omnesque eu cum. Ne purto errem has. Eam iusto tantas deserunt in.</p>
	<p>Lorem ipsum dolor sit amet, cu aperiri volumus urbanitas cum, sit vidisse scribentur voluptatibus ei, liber congue labores cu pri. Ea inani graeco aliquando mei. Ea affert utroque pertinacia vim, et vocent aperiam complectitur duo. Veri facilisis ut usu, an vis laoreet scribentur, indoctum aliquando dissentiunt et has.</p>
	<p>Ad has eius rebum postulant, ut eam ignota vivendo. Cu suas oratio consulatu mel, laoreet mediocritatem qui te. Te pri saepe tritani, affert iisque omnesque eu cum. Ne purto errem has. Eam iusto tantas deserunt in.</p>
</div>
<div class="clear"></div>