<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title) %></title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="google-site-verification" content="gpemUCDpS30H2ndYB97Q28zQE2NvBxn9Ki853gGudn8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#76B543">
</head>
<body>
	<div id="body">
		<div id="header">
			<div id="logo"><span><a href="<%= root_path %>">em</a> elnaz moshfeghian</span></div>
			<a href="#" id="menu-toggle">Menu</a>
			<div id="nav">
				<ul class="nav-content">
					<li><%= link_to 'Home', root_path, class: navClass('welcome') %></li>
					<li><%= link_to 'Blog', writing_index_path, class: navClass('writing') %></li>
					<li><%= link_to 'Portfolio', working_index_path, class: navClass('working') %></li>
					<li><%= link_to 'About', about_path, class: navClass('about') %></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<%= yield %>

	</div>

	<div id="footer">
		<ul id="contact-links">
			<li><a href="https://github.com/elnaz"><i class="fa fa-github fa-2x"></i></a></li>
			<li><a href="https://twitter.com/elnazem"><i class="fa fa-twitter fa-2x"></i></a></li>
			<li><a href="https://www.linkedin.com/in/elnazm"><i class="fa fa-linkedin fa-2x"></i></a></li>
			<li><a href="https://plus.google.com/+ElnazMoshfeghian"><i class="fa fa-google-plus fa-2x"></i></a></li>
			<li><a href="http://instagram.com/elnazem"><i class="fa fa-instagram fa-2x"></i></a></li>
			<li><a href="https://bitbucket.org/elnaz"><i class="fa fa-bitbucket fa-2x"></i></a></li>
		</ul>
    </div>

	<div id="menu" class="">
		<ul class="nav-content">
			<li class=<%= navClass('welcome') %>><i class="fa fa-home"></i><%= link_to 'Home', root_path %></li>
			<li class=<%= navClass('writing') %>><i class="fa fa-newspaper-o"></i><%= link_to 'Blog', writing_index_path %></li>
			<li class=<%= navClass('working') %>><i class="fa fa-bullhorn"></i><%= link_to 'Portfolio', working_index_path %></li>
			<li class=<%= navClass('about') %>><i class="fa fa-info-circle"></i><%= link_to 'About', about_path %></li>
			<li><i class="fa fa-send-o"></i><%= link_to 'Contact', '#contact' %></li>
		</ul>
	</div>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
