<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
</head>
<body>
	<div id="body">
		<div id="header">			
			<div id="logo"><span><a href="<%= root_path %>">em</a> elnaz moshfeghian</span></div>
			<a href="#" id="menu-toggle">Menu</a>
			<div id="nav">
				<ul class="nav-content">
					<li><%= link_to 'Home', root_path, class: navClass('welcome') %></li>
					<li><%= link_to 'Blog', writing_index_path, class: navClass('writing') %></li>
					<li><%= link_to 'Projects', root_path + '#projects', class: navClass('working') %></li>
					<li><%= link_to 'About', root_path + '#about' %></li>
					<li><%= link_to 'Contact', '#contact' %></li>
				</ul>
			</div>
			<div class="clear"></div>	
		</div>

		<%= yield %>
			
	</div>
	
	<div id="footer">
		<h2 id="contact">Contact</h2>				
		<%= form_for [@message, Message.new], :remote => true do |f| %>
			<div id="contact-notice"><p></p></div>
			<dl class="c2l form" id="contact-form">
				<dt><%= f.label :name %></dt>
				<dd class="field"><%= f.text_field :name, :class => 'required txt-med' %></dd>
				
				<dt><%= f.label :email %></dt>
				<dd class="field"><%= f.text_field :email, :class => 'email required txt-med', :type => 'email' %></dd>
				
				<dt><%= f.label :body, 'Message' %></dt>
				<dd class="field"><%= f.text_area :body, :class => 'required txt', :rows => 5, :maxlength => 2500 %></dd>
				
				<dt>&nbsp;</dt>
				<dd class="field"><%= f.submit 'Send', :class => 'btn'%></input></dd>
			</dl>
		<% end %>
		
		<div class="c2r" >
			<ul id="contact-links">
				<li><a href="https://github.com/elnaz"><i class="fa fa-github fa-2x"></i></a></li>					
				<li><a href="https://twitter.com/elnazem"><i class="fa fa-twitter fa-2x"></i></a></li>
				<li><a href="https://www.linkedin.com/in/elnazm"><i class="fa fa-linkedin fa-2x"></i></a></li>
				<li><a href="https://plus.google.com/+ElnazMoshfeghian"><i class="fa fa-google-plus fa-2x"></i></a></li>
				<li><a href="http://instagram.com/elnazem"><i class="fa fa-instagram fa-2x"></i></a></li>	
				<li><a href="https://bitbucket.org/elnaz"><i class="fa fa-bitbucket fa-2x"></i></a></li>				
			</ul>
		</div>
		<div class="clear"></div>
    </div>

	<div id="menu" class="">
		<ul class="nav-content">
			<li class=<%= navClass('welcome') %>><i class="fa fa-home"></i><%= link_to 'Home', root_path %></li>
      <li class=<%= navClass('writing') %>><i class="fa fa-newspaper-o"></i><%= link_to 'Blog', writing_index_path %></li>
      <li class=<%= navClass('working') %>><i class="fa fa-bullhorn"></i><%= link_to 'Projects', root_path + '#projects' %></li>
      <li><i class="fa fa-info-circle"></i><%= link_to 'About', root_path + '#about' %></li>
      <li><i class="fa fa-send-o"></i><%= link_to 'Contact', '#contact' %></li> 
		</ul>
	</div>	
</body>
</html>
